<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
      <title>Transaction</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
  </head>
<body>
	<h2>Transaction Summary</h2>
	<p th:text="'ID Number: ' + ${main.IDNumber}" />
	<p th:text="'Account Number: ' + ${main.AcctNumber}" />
	<p th:if="${main.Action} == 'Deposit'">Deposit</p>
	<p th:if="${main.Action} != 'Deposit'">Withdrawl</p>
	<p th:text="'Transaction Amount: ' + ${main.Amount}" />
	<p th:text="'Customer Note: ' + ${main.Reason}" />
</body>
</html>